@media (max-width: 768px) {
  /* Atur ulang layout untuk layar kecil */
  .container {
    flex-direction: column;
    padding: 10px;
  }
}
* {
    box-sizing: border-box;
    max-width: 100%;
}
body{
    background-color: rgb(204, 204, 255);
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Pastikan gambar berada di belakang konten lainnya */
}
.no-scroll{
    overflow: hidden;
}
header {
    background-color: rgb(195, 177, 225);
    top: 0;
    position: sticky;
    max-height: 15%;
}
.himg {
    width: 100;
    height: 100;
    
}
main{
    /* background-size: contain;
    background-attachment: fixed; */
    padding: 20px;
    background-color: rgb(204, 204, 255);
}
.isi {
   font-style: italic;
   font-size: 18px;
   float: right;
   padding-right: 10%;
   padding-top: 20px;
   text-align: center;
  
}
footer{
    background-color: rgb(207, 159, 255);
    height: 420px;
    max-height: 25%;
}

header a:hover{
    color: thistle;
}

.cente{
    float: right;
    margin-right: 10%;
    width: 20%;
    border-radius: 20px;
    text-align: center;
    height: 40%;
    padding: 10px;
}
.more{
float: left;
margin-left: 10%;
width: 20%;
border-radius: 20px;
text-align: center;
height: 55%;
}
main nav img{
    width: 260px;
    height: 200px;
    padding-left: 5%;
}
main nav a{
    padding-left: 5%;
}
.Website_ku_yang_lama{  
    padding-bottom: 5%;
    
}
.fakta_unik{
    padding-bottom: 5%;
    background-color: rgb(196, 196, 253);
}
.fakta_unik:hover{
    padding-left: 50%;
}
.resep{
    padding-bottom: 5%;
}
.for_parents{
    padding-bottom: 5%;
    background-color: rgb(196, 196, 253);
}
.for_parents:hover{
    padding-left: 50%;
}
h1{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
h2{
    
    text-align: center;
}
.spoiler1{
    width: 200px;
    height: 220px;
    padding-left: 200px;
}


.gambarweb{
    
    float: left; /* Membuat gambar berderetan */
    padding: 10px; /* Tambahkan padding jika diperlukan */
    padding-bottom: 70px;
}
.gambarwebg{
    width: 150px;
    height: 150px;
}
.gambarweb1{
    /* width: 200px;
    height: 200px; */
    display: flex;  /* Aktifkan flexbox */
    flex-wrap: wrap; /* Mengizinkan gambar melompat ke baris baru jika diperlukan */
    justify-content: space-around; /* Jarak antara gambar */
    align-items: center; /*Memusatkan gambar secara vertikal */
    padding: 10px;
    padding-top: 10px;
    list-style: none;
    /* float: left; */
}
.gambarweb2{
    padding: 20px;
}
.gambarweb3{
    /* width: 200px;
    height: 200px; */
    display: flex;  /* Aktifkan flexbox */
    flex-wrap: wrap; /* Mengizinkan gambar melompat ke baris baru jika diperlukan */
    justify-content: space-around; /* Jarak antara gambar */
    align-items: center; /*Memusatkan gambar secara vertikal */
    padding: 10px;
    padding-top: 10px;
    list-style: none;
    padding-right: 40%;
}

.gambarweb4{
    
    padding-right: 50%;
    float: left; /* Membuat gambar berderetan */
    padding: 10px; /* Tambahkan padding jika diperlukan */
    padding-bottom: 70px;
}
.gambarweb5{
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: 40%;
}
.batas{
    color: rgb(167, 167, 253);
    size: 5000px;
}
.kanan{
    float: right;
    padding-left: 20px;
    width: 25%;
}
.saran{
    background-color: rgb(167, 167, 253);
}
.iklan img{
    height: 25%;
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
}
.ingat{
    background-color: rgb(255, 255, 71);
    width: 800px;
    height: 600px;
    text-align: center;
    z-index: 2;
    position:sticky;
    margin: 0 auto;
    top: 0;
}
.ingat button{
    background-color: royalblue;
    border-radius: 20px;
    height: 40px;
    width: 60px;
}
.ingat p{
    font-size: 20px;
}
.inga{
    display:inline-block;
    padding: 15px;
    text-decoration: none;
    height: 350px;
    width: 350px;
    font-size: 500px;
}
.rest{
    background-color: rgb(4, 0, 89);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    position:sticky;
    display: none;
}
.rest p{
    font-size: 30px;
    color : white;
}
.rest h2{
    font-size: 60px;
    color : white;
}
.rest img{
    width: 300px;
    height: 300px;
}
.Tentang{
    padding-bottom: 5%;
    background-color: rgb(196, 196, 253);
}
.Tentang:hover{
    padding-left: 50%;
}
.container{
    background-color: rgb(204, 204, 255);
}
