* {
    box-sizing: border-box;
}

header {
    background-color: rgb(195, 177, 225);
    top: 0;
    position: sticky;
    z-index: 3;
}
.himg {
    width: 100;
    height: 100;
    
}
main{
    background-color: rgb(204, 204, 255);
    background-size: contain;
    background-attachment: fixed;
}
.isi {
   font-style: italic;
   font-size: 18px;
   float: right;
   padding-right: 10%;
   padding-top: 20px;
   text-align: center;
  
}
footer{
    background-color: rgb(207, 159, 255);
}

header a:hover{
    color: thistle;
}

.cente{
    text-align: center;
    margin-top: 130px;
}
main nav img{
    width: 260px;
    height: 200px;
    padding-left: 5%;
}
main nav a{
    padding-left: 5%;
}
.Website_ku_yang_lama{  
    padding-bottom: 5%;
    
}
.fakta_unik{
    padding-bottom: 5%;
    background-color: rgb(196, 196, 253);
}
.fakta_unik:hover{
    padding-left: 50%;
}
.resep{
    padding-bottom: 5%;
}
h1{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.spoiler1{
    width: 200px;
    height: 220px;
    padding-left: 200px;
}


.gambarweb{
    width: 300px;
    height: 300px;
    position: fixed;
}
.gambarweb1{
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    float: left;
    padding: 5px;
    z-index: 1;
}
.gambarweb2{
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.gambarweb4{
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: 30%;
    z-index: 1;
}
.gambarweb5{
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: 40%;
}
.batas{
    color: rgb(167, 167, 253);
    size: 5000px;
}
.kanan{
    float: right;
    padding-left: 20px;
    width: 25%;
}
.saran{
    background-color: rgb(167, 167, 253);
}

.iklan img{
    height: 30%;
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
}
